<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>MES</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">PANASONIC MES</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">HOME</a></li>
          <li id="news"><a href="/news">NEWS</a></li>
          <li id="about"><a href="/about">CELL</a></li>
          <li id="contact"><a href="/contact">PROCESS</a></li>
          <li id="powerApps"><a href="/powerApps">APPLICATIONS</a></li>
          <li id="search"><a href="/search">SEARCH WAFER</a></li>

          <!-- <li id="graph"><a href="/graph">GRAPHS</a></li>
          <li id="graph"><a href="/newHeader">Hearder</a></li> -->


        </ul>
    </div>

  </nav>

  <body>

    <div class="container">
