<!DOCTYPE html>

<%- include("partials/header") -%>

<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>MES Features</title>
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

</head>

<body class= "fb">
  <!-- <h1 class="feature_heading" > PANASONIC</h1> -->
  <div class="set">
    <a href="/about"><button class="drum"><i class="fas fa-chart-line"></i></button></a>
    <a href="/contact"><button class="drum"><i class="fas fa-solar-panel"></i></button>
    <a href="/"><button class="drum"><i class="fas fa-industry"></i></button>
    <a href="/search"><button class="drum"><i class="far fa-calendar-times"></i></button>
    <a href="/about"><button class="drum"><i class="fas fa-file-signature"></i></button>
    <a href="/"><button class="drum"><i class="fas fa-shield-alt"></i></button>
   </div>


<script src="index.js" charset="utf-8"></script>

<footer>

</footer>
</body>
</html>
