
<%- include("partials/header") -%>
  <h1>Home</h1>
  <p> <%= startingContent %> </p>
   <%console.log(posts);%>
   <div class="col-lg-12">
   <img  src="/images/psp.jpg" alt="iphone-mockup" height="500" width="100%">
 </div>

<%- include("partials/footer") -%>
